<header>
    <p class="title">{{palAlto}}<img src="/assets/image/PaloAlto.png" alt="some_text" /></p>
    <div class="tabs">
        <a href="index.html"><p class="first_header_tab">HOME</p></a>
        <a href="index.html"><p class="header_tab">ABOUT</p></a>
        <a href="index.html"><p class="header_tab">ARCHIVE</p></a>
        <a href="index.html"><p class="header_tab">CONTACT</p></a>
        <div class="search_tab">{{palAlto}}<img src="/assets/image/search.svg" alt="some_text" /> </div>
    </div>
</header>
