header{
  display: flex;
  padding-left: 224px;
  padding-right: 224px;
  font-size: 42px;
  line-height: 25px;
  color: #333333;
  font-family: "Lato";
  font-weight: 700;

}
.title{
  margin-top: 110px;
}

.tabs{
  margin-left: 367px;
  margin-top: 102px;
}

.first_header_tab{
  color: #333333;
  font-size: 16px;
  text-align: right;
  display: inline;
}

.header_tab{
  color: #333333;
  font-size: 16px;
  text-align: right;
  margin-left: 35px;
  display: inline;
}

.header_tab:hover{
  border-bottom: 3px solid #5c6bc0;
}
.first_header_tab:hover{
  border-bottom: 3px solid #5c6bc0;
}
a{
  text-decoration: none;
}

.search_tab{
  margin-left: 25px;
  display: inline;
}

.search_tab:hover{
  border-bottom: 3px solid #5c6bc0;
}