<div class="white-block">
    <div class="post-data">{{date}}    </div>
    <div class="post_header">{{title}}    </div>
    <hr class="line-separator">
    <div class="post-text">{{description}}    </div>
    <div class="read_more">READ MORE</div>
    <div class="tags">
        <div class="tag"> {{tag1}}        </div>
        <div class="tag">{{tag2}}        </div>
        <div class="tag">{{tag3}}        </div>
    </div>
</div>