.white-block{
  background-color: white;
  margin-left: 222px;
  margin-top: 80px;
  margin-right: 139px;
  height: 588px;
  width: 953px;
}

.post-data{
  margin-left: 99px;
  margin-top: 58px;
  font-size: 14px;
  text-align: left;

  display: inline-flex;
  color: #bdbdbd;
}

.post_header{
  margin-left: 97px;
  word-spacing: 2px;
  margin-top: 13px;
  margin-right: 110px;
  line-height: 50px;
  font-size: 40px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  color: black;
}

.line-separator{
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 110px;
}

.post-text{
  margin-top: 24px;
  font-family: "Lato";
  text-align: left;
  margin-left: 97px;
  margin-right: 110px;
  line-height: 30px;
  color: black;
  font-size: 17px;
}

.read_more{
  display: inline-flex;
  margin-top: 35px;
  margin-left: 97px;
  font-size: 18px;
  line-height: 50px;
  color: #5c6bc0;
  font-family: "Lato";
  font-weight: 700;
  word-spacing: 3px;
  border: 1px outset transparent;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  height:50px;
  width:400px;
  cursor:pointer;
}

.read_more:hover{
  border-color: #c1c1c166;
}
.read_more:focus{
  border-color: #5c6bc0;
}
.tags{
  margin-top: 36px;
  margin-right: 98px;
  font-size: 15px;
  line-height: 50px;
  color: #c1c1c1;
  font-family: "Lato";
  font-weight: 400;
  word-spacing: 7px;
  float: right;
}
.tag{
  display: inline-flex;
  margin-left: 2px;
}

.tag:hover{
  color: #5c6bc0;
  border-bottom: 1px solid #5c6bc0;
}