/*fonts*/
$font-default: Lato, sans-serif;

/*colors*/
$color-white: #fff;
$color-dark-blue: #244f92;
$color-blue: #446eaf;
$color-lightest-grey: #f3f2f2;
$color-light-grey: #d2d2d2;
$color-grey: #a4a4a7;
$color-dark-grey: #404044;
$color-lightest-yellow: #fffceb;
